<div class="field required" data-bind="css: 'field-'+attribute.attribute_code">
    <label class="label" data-bind="attr: { for: attribute.attribute_code }, text: attribute.frontend_label"></label>
    <div class="control">
        <input type="text" data-bind="attr: {
                                            id: attribute.attribute_code,
                                            name: attribute.attribute_code
                                      },
                                      css: {
                                           'required-entry': attribute.is_required
                                      }"   />
    </div>
</div>