<li>
    <div class="image-content">
        <span class="arrow arrow-up" data-bind="click: $parent.upImage"></span>
           <img class="img-rounded  thumb" data-bind="attr: { src: imagesFile.src }" />
        <span class="arrow arrow-down" data-bind="click: $parent.downImage"></span>
    </div>
    <div class="image-options">
        <span class="name-image" data-bind="text: imagesFile.name"></span>
        <div class="actions">
            <a href="#" class="action remove" title="Delete Image" data-bind="click: $parent.removeImage">
                <span data-bind="i18n: 'Delete Image'"></span>
            </a>
        </div>
    </div>

</li>